@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


@media screen and (max-width: 400px) {

    /*For mobile devices*/
    * {
        box-sizing: border-box;
    }

    html {
        width: 95vw;
        align-content: center;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
        width: 95vw;
        will-change: opacity;
    }

    .aboutMe {
        align-items: center;
    }

    .header {
        align-items: center;
        will-change: opacity;
    }

    body {
        width: 95vw;
    }

    h2,
    p {
        width: 95vw;
    }

    #contactForm {
        width: 95vw;
        padding: 10px 0 10px 0;
        margin-top: 10px;
    }

    .basicInfo {
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: #1f3453;
}   

#myImage {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 10px;
}

.header {
    min-height: 100%;
    background: url(backgroundImage.jpg) #34568B;
    background-size: cover;
    background-blend-mode: soft-light;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 1px white;
}

.about {
    min-height: 100%;
    background: url(aboutBackground.png) #34568B;
    background-size: cover;
    background-blend-mode: darken;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.aboutMe {

    font-family: 'Noto Sans', sans-serif;
    color: white;

    display: table-cell;
    vertical-align: middle;
}

.basicInfo {
    color: white;

    font-family: 'Noto Sans', sans-serif;

    text-align: center;

}

.about h2 {
    background-color: #1f3453;
    margin: 0;
    padding: 19.92px 0px 19.92px 0;
    text-align: center;
    border-bottom: solid 1px white;
}


#educationTitle,
#contactMeTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: #1f3453;
    color: white;
    margin-bottom: 0%;
    margin-top: 0px;
    height: 50px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.senecaContainer,
.mcmasterContainer {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px white;

}

.senecaInfo,
.mcmasterInfo {
    background-color: #34568B;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    color: white;
    width: 400px;
}

.senecaInfo p,
.mcmasterInfo p {
    justify-content: center;
    width: 95vw;
    align-items: center;
    padding-left: 25%;
}

.senecaDiploma,
.mcmasterDegree {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 20px;
    flex-basis: 300px;
    min-width: 0;
    flex-grow: 6;
    padding-right: 162.5px;
    background: #1f3453;
    color: white;
}

form {
    /*add margin to top to offset from h1*/
    padding-top: 2em;
    /*padding to add some space around form element*/
    padding: 3em;
    /*black border around form*/
    border: 2px solid white;
    border-radius: 15px;
    /*specify max and min width of form*/
    max-width: 500px;
    min-width: 250px;
    /*auto margins for when user adjusts screen*/
    margin-left: auto;
    margin-right: auto;
    /*grid display to improve readability of form*/
    display: grid;
    grid-template-columns: 3fr 3fr;
    font-family: 'Noto Sans', sans-serif;
    background-color: #34568B;
    color: white;
    grid-gap: 10px;
    width: 95vw;
}


.radioLabel {
    vertical-align: top;
    margin-right: 3%;
    display: inline-block;
    text-align: left;
}

.radioInput {
    vertical-align: top;
}

fieldset {
    text-align: left;
    background-color: #1f3453;
}

#fieldDiv {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: auto;
    width: 50%;
}

#reason,
#detailEnter {
    grid-column: 1 / 3;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

#contactForm {
    background: url(bottomBackground.webp) #34568B;
    background-size: cover;
    background-blend-mode: multiply;
    margin-top: 10px;
}


#resumeDownload,
#contactButton {
    background-color: #34568B;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    transition: all 0.2s;
    margin: 10px;


}

#resumeDownload:hover,
#contactButton:hover {
    transform: scale(1.2);
    color: white;
}

#input-submit {
    grid-column: 1 / 3;
    text-align: center;
    background-color: #1f3453;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#input-submit:hover {
    transform: scale(1.05);
    border-color: white;
    color: white;
    cursor: pointer;
}

#input-message {
    font-family: 'Noto Sans', sans-serif;
}

#footer {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

a:visited {
    color: white;
}